<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Nébula Music - Registro</title>
  </head>
  <body>
  <main class="auth-containter"></main>
    <section class="auth-card">
      <form method="post" action="/crear-cuenta">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" minlength="3">
        <br><br>
        <label for="correo">Correo:</label>
        <input type="email" id="correo" name="correo">
        <br><br>
        <label for="contrasenia">Contraseña:</label>
        <input type="password" id="contrasenia" name="contrasenia">
        <br><br>
        <label for="txt_pseudonimo">Pseudonimo:</label>
        <input
                type="text"
                id="txt_pseudonimo"
                name="txt_pseudonimo"
                pattern="[a-zA-Z]{3,10}-[0-9]{2,10}"
        >
        <br><br>
        <label>Género</label>
        <br>
        <input type="radio" id="genero_m" name="rad_genero">
        <label for="genero_m">Masculino</label>
        <br>
        <input type="radio" id="genero_f" name="rad_genero">
        <label for="genero_f">Femenino</label>
        <br>
        <input type="radio" id="genero_o" name="rad_genero">
        <label for="genero_o">Otro</label>
        <br><br>
        <label for="suscripcion">Suscripción</label>
        <select name="sel_suscripcion" id="suscripcion">
          <option value="gratis">Gratis</option>
          <option value="mensual">Mensual</option>
          <option value="anual">Anual</option>
        </select>
        <br><br>
        <label for="fecha">Fecha de nacimineto</label>
        <input type="date" id="fecha" name="fechaNacimiento">
        <br><br>
        <input type="checkbox" id="terminos" name="chk_termnos" value="aceptado">
        <label for="terminos">Acepto los términos y condiciones</label>
        <label for="comentarios">Comentarios: </label>
        <br>
        <textarea
                name="comentarios"
                id="comentarios"
                cols="4"
                rows="15"
                placeholder="Escribe aquí tus comentarios..."></textarea>
        <br><br>
        <input type="submit">
        <input type="reset">
      </form>
    </section>
  </body>
</html>